@import "tailwindcss";
@source "../node_modules/@my-company/ui-lib";

:root {
  background-color: #FAFAFA;
}

/* Oculta flechas en WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Oculta flechas en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}